<%- include('_header',{user}) %>
<div class="container py-4">
    <h3>Icon Credits</h3>
    <div class="col-md-6 col-sm-12 text-center align-self-center">
        <img src="assets/icons/farmer_home_vegetable_basket.png" alt="vegetable-basket" width="100px" class="mt-4"/>
        <br>
        <small><a href="https://thenounproject.com" class="text-success">Vegetable basket by ProSymbols from the Noun Project</a></small>
    </div>
</div>

<%- include('_footer') %>