<%- include('_header',{user}) %>
<div class="container py-4 text-center">
    <h3>About Us</h3>
    <p>
        We are a group of Computer Science Undergraduates of University of Moratuwa and this web app was developed as a semester project for Software Engineering Module.
    </p>
    <hr>
    <h3>Icon/Image Credits</h3>
    <hr>
    <div class="text-success">
        <small><a class="text-success" href="https://www.fontawesome.com">Font Awesome Icons</a></small>
    </div>
    <hr>
    <div>
        <img src="assets/icons/farmer_home_vegetable_basket.png" alt="vegetable-basket" width="100px" class="mt-4"/>
        <br>
        <small><a href="https://thenounproject.com" class="text-success">Vegetable basket by ProSymbols from the Noun Project</a></small>
    </div>
    <hr>
    <div>
        <img src="/assets/my_posts_all.jpg"
            class="img-fluid" alt="All Posts" width="20%" />
            <br>
    <small><a href="https://www.freepik.com/vectors/nature" class="text-success">Nature vector created by freepik - www.freepik.com</a></small>
    </div>
    <hr>
    <div>
        <img src="/assets/buyer_request.jpg" alt="request-image"
            width="20%" />
        <br>
        <small> <a href="https://www.freepik.com/vectors/business" class="text-success">Business vector created by freepik - www.freepik.com</a></small> 
        <br>
    </div>
    <hr>
    <div>
        <img src="/assets/register.jpg" alt="Farmer Register"
        width="20%" />
        <br>
        <small><a href="https://www.freepik.com/vectors/avatar" class="text-success">Avatar vector created by stories - www.freepik.com</a></small>
        <br>
    </div>
    <hr>
    <div>
        <img src="/assets/404.jpg" alt="404"
        width="20%" />
        <br>
        <small><a href="https://www.freepik.com/vectors/animals" class="text-success">Animals vector created by stories - www.freepik.com</a></small>
        <br>
    </div>
    <hr>
    <div>
        <img src="assets/update_profile.jpg" alt="Login" 
            fluid width="20%" />
        <br>
        <small><a href="https://www.freepik.com/vectors/website" class="text-success">Website vector created by stories - www.freepik.com</a></small> 
        <br>
    </div>
</div>

<%- include('_footer') %>