<%- include('_header',{user}) %>
<div class="container py-4">
    <h3 class="p-3 text-center">Admin Panel</h3>

    <hr>
    <% if(error) { %>
        <div class="alert alert-danger text-center" role="alert">
            <%=error%>
        </div>
    <%} %>
    <div class="row p-3 justify-content-md-center" >
        <div class="card p-3 m-2 text-center col-md-3 col-sm-12 rouned-lg shadow border-success">
            <div class="card-body">
                <a class="card-block stretched-link text-decoration-none" href='/farmer/myPosts/<%=user.uid%>'></a>
                <img src="assets/icons/farmer_home_vegetable_basket.png" alt="vegetable-basket" width="70px" class="mt-4"/>
            <h4 class="card-text mt-4">Posts</h4>
            </div>
        </div>
        <div class="card p-3 m-2 text-center col-md-3 col-sm-12 rouned-lg shadow border-success">
            <div class="card-body">
                <a class="card-block stretched-link text-decoration-none" href='/admin/allFarmers'></a>
                <i class="fas fa-users fa-4x mt-4"></i>
                <h4 class="card-text mt-4">Farmers</h4>
            </div>
        </div>
        <div class="card p-3 m-2 text-center col-md-3 col-sm-12 rouned-lg shadow border-success">
            <div class="card-body">
                <a class="card-block stretched-link text-decoration-none" href='/admin/allBuyers'></a>
                <i class="fas fa-user-friends fa-4x mt-4"></i>
            <h4 class="card-text mt-4">Buyers</h4>
            </div>
            
        </div>
    </div>
    <div class="row p-3 justify-content-md-center">
        <div class="card p-3 m-2 text-center col-md-3 col-sm-12 rouned-lg shadow border-success">
            <div class="card-body">
                <a class="card-block stretched-link text-decoration-none" href=''></a>
                <i class="fas fa-bell fa-4x mt-4"></i>
            <h4 class="card-text mt-4">Complains</h4>
            </div> 
        </div>
        <div class="card p-3 m-2 text-center col-md-3 col-sm-12 rouned-lg shadow border-success">
            <div class="card-body">
                <a class="card-block stretched-link text-decoration-none" href=''></a>
                <i class="fas fa-comments fa-4x mt-4"></i>
            <h4 class="card-text mt-4">Buyer Requests</h4>
            </div> 
        </div>
        <div class="card p-3 m-2 text-center col-md-3 col-sm-12 rouned-lg shadow border-success">
            <div class="card-body">
                <a class="card-block stretched-link text-decoration-none" href='/admin/stats'></a>
                <i class="fas fa-chart-bar fa-4x mt-4"></i>
            <h4 class="card-text mt-4">Stats</h4>
            </div> 
        </div>
    </div>
        

</div>

<%- include('_footer',{user}) %>