<%- include('_header',{user}) %>

 <div class="container py-4 text-center">
     <h1>Welcome !</h1>
     <div class="row mt-3">
         <div class="col-md-4">
            <div class="card p-3 rounded shadow-lg border-success mb-3">
                <div class="card-body text-center">
                  <h5 class="card-title">Still a Guest?</h5>
                  <p class="card-text">Register with us as a buyer to see more posts and filter</p>
                  <a href="/farmer/signup" class="btn btn-success">Sign Up As Farmer</a>
                </div>
              </div>

         </div>
         <div class="col-md-4">
            <div class="card p-3 rounded shadow-lg border-success mb-3">
                <div class="card-body text-center">
                  <h5 class="card-title">Want to Add Your Own Post?</h5>
                  <p class="card-text">Register with us as a farmer and add your posts here</p>
                  <a href="/buyer/signup" class="btn btn-success">Sign Up As a Buyer</a>
                </div>
              </div>

         </div>
         <div class="col-md-4">
            <div class="card p-3 rounded shadow-lg border-success mb-3">
                <div class="card-body text-center">
                  <h5 class="card-title">Already Have an Account?</h5>
                  <p class="card-text">Log in using your buyer/farmer account</p>
                  <a href="/login" class="btn btn-success">Log In as Buyer / Farmer</a>
                </div>
              </div>

         </div>

     </div>
     <div class="container py-4">
         <h3 class="text-center">Recent Posts</h3>

     </div>
 </div>

<%- include('_footer') %>